.item{
  width: 100%;
  height: 98px;
  border-bottom: 1px solid #E5E5E5;
}
.item-top{
  font-size: 15px;
  display: flex;
  line-height: 40px;
  justify-content: space-between;
}
.item-top-jobname{
  color: #000000;
  font-weight: 700;
}
.item-top-salary{
  color: #FF891C;
}
.item-middle{
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 9px;
}
.item-middle-common{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 0 5px;
}
.item-middle-left{
  background-color: rgba(255,137,28,.1);
  color: #FF891C;
  margin-right: 8px;
}
.item-middle-right{
  background-color: #F3F3F3;
  color: #666666;
}
.item-bottom{
  color: #999999;
}
.item-bottom-common{
  margin-right: 16px;
}
.myicon{
  width: '20px';
  height: '20px';
  fill: '#ccc';
}
.shelter{
  min-height: calc(100vh - 100px);
}
.shelter-item{
  font-size: 17px;
  line-height: 60px;
  color: #333;
  border-bottom: 0.5px solid #E5E5E5;
}

.title{
  font-size: 17px;
  padding: 10px 0;
  font-weight: 700;
}
.title::before{
  content: "";
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 4px;
  height: 4px;
  background: #333;
  box-shadow: 0 6px 0 0 #333, 0 -6px 0 0 #333;
}
.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
}