@keyframes round {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
.loading{
  line-height: 30px;
  text-align: center;
}
.myicon{
  animation: round 1s ease infinite;
  vertical-align:middle;
}
.textinfo{
  color: #ccc;
  margin-left: 20px;

}